<a href="https://colab.research.google.com/github/EkaFitriRamadani/MachineLearning/blob/main/SVM_SVR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Resume Machine Learning

**SVM (Support Vector Machine)**

SVM merupakan bidang pemisah atau garis pemisah (separating hyperplane). SVM digunakan untuk mencari hyperplane terbaik dengan memaksimalkan jarak antar kelas. Hyperplane adalah seuah fungsi yang dapat digunakan untuk pemisah antar kelas. Dalam 2-D fungsi yang digunakan untuk klasifikasi antar kelas disebut sebagai line whereas, fungsi yang digunakan untuk klasifikasi antar kelas dalam 3-D disebut plane similarlu, sedangkan fungsi yang digunakan untuk klasifikasi di dalam ruang kelas dimensi yang lebih tinggi disebut hyperplane.

**SVR (Support Vector Regression)**

Model regresi ini merupakan penggunaan dari metode machine learning yaitu klasifikasi menggunakan SVM. SVM tujuannya membagi dataset (klasifikasi) ke dalam 2 zona, sedangkan SVR sebaliknya, memasukkan semuanya menjadi satu.

In [ ]:
#import library
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm

# import module bagian pengukuran kinerja
from sklearn.metrics import classification_report, cohen_kappa_score, fbeta_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score

In [ ]:
#import dataset
path = '/content/drive/MyDrive/Datasets/Avocado.csv'
df = pd.read_csv(path)

In [ ]:
df.head()

   Unnamed: 0        Date  AveragePrice  ...          type  year  region
0           0  2015-12-27          1.33  ...  conventional  2015  Albany
1           1  2015-12-20          1.35  ...  conventional  2015  Albany
2           2  2015-12-13          0.93  ...  conventional  2015  Albany
3           3  2015-12-06          1.08  ...  conventional  2015  Albany
4           4  2015-11-29          1.28  ...  conventional  2015  Albany

[5 rows x 14 columns]

In [ ]:
df.shape

(18249, 14)

In [ ]:
df = df.drop(['Unnamed: 0', 'Date', 'year', 'region'], axis=1)
df.head()

   AveragePrice  Total Volume     4046  ...  Large Bags  XLarge Bags          type
0          1.33      64236.62  1036.74  ...       93.25          0.0  conventional
1          1.35      54876.98   674.28  ...       97.49          0.0  conventional
2          0.93     118220.22   794.70  ...      103.14          0.0  conventional
3          1.08      78992.15  1132.00  ...      133.76          0.0  conventional
4          1.28      51039.60   941.48  ...      197.69          0.0  conventional

[5 rows x 10 columns]

In [ ]:
df.shape

(18249, 10)

In [ ]:
label_enc = {"type": {"conventional": 1.0, "organic": 2.0}}
df.replace(label_enc, inplace=True)

In [ ]:
df

       AveragePrice  Total Volume     4046  ...  Large Bags  XLarge Bags  type
0              1.33      64236.62  1036.74  ...       93.25          0.0   1.0
1              1.35      54876.98   674.28  ...       97.49          0.0   1.0
2              0.93     118220.22   794.70  ...      103.14          0.0   1.0
3              1.08      78992.15  1132.00  ...      133.76          0.0   1.0
4              1.28      51039.60   941.48  ...      197.69          0.0   1.0
...             ...           ...      ...  ...         ...          ...   ...
18244          1.63      17074.83  2046.96  ...      431.85          0.0   2.0
18245          1.71      13888.04  1191.70  ...      324.80          0.0   2.0
18246          1.87      13766.76  1191.92  ...       42.31          0.0   2.0
18247          1.93      16205.22  1527.63  ...       50.00          0.0   2.0
18248          1.62      17489.58  2894.77  ...       26.01          0.0   2.0

[18249 rows x 10 columns]

In [ ]:
X = df.drop('type', axis=1)
y = df['type']

In [ ]:
X

       AveragePrice  Total Volume     4046  ...  Small Bags  Large Bags  XLarge Bags
0              1.33      64236.62  1036.74  ...     8603.62       93.25          0.0
1              1.35      54876.98   674.28  ...     9408.07       97.49          0.0
2              0.93     118220.22   794.70  ...     8042.21      103.14          0.0
3              1.08      78992.15  1132.00  ...     5677.40      133.76          0.0
4              1.28      51039.60   941.48  ...     5986.26      197.69          0.0
...             ...           ...      ...  ...         ...         ...          ...
18244          1.63      17074.83  2046.96  ...    13066.82      431.85          0.0
18245          1.71      13888.04  1191.70  ...     8940.04      324.80          0.0
18246          1.87      13766.76  1191.92  ...     9351.80       42.31          0.0
18247          1.93      16205.22  1527.63  ...    10919.54       50.00          0.0
18248          1.62      17489.58  2894.77  ...    11988.14       26.01          0.0

[18249 rows x 9 columns]

In [ ]:
y

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
18244    2.0
18245    2.0
18246    2.0
18247    2.0
18248    2.0
Name: type, Length: 18249, dtype: float64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, stratify=y)

In [ ]:
len(X_test), len(X_train)

(6023, 12226)

In [ ]:
#list_kernel = ['linear', 'rbf', 'poly', 'signoid']

In [ ]:
#list_model_svm = []
#for i in list_kernel:
#  temporary_model = svm.SVC(kernel=i)
#  temporary_model.fit(X_train, y_train)
#  list_model_svm.append(temporary_model)

In [ ]:
#membangun model
model_svm = svm.SVC(kernel='poly')
#melatih model dengan data train
model_svm.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# buat variabel hasil prediksi pada data test
predict_svm = model_svm.predict(X_test)
predict_svm

array([2., 2., 2., ..., 2., 2., 1.])

In [ ]:
print(confusion_matrix(y_test, predict_svm))

[[ 686 2326]
 [  12 2999]]

In [ ]:
print(classification_report(y_test, predict_svm))

              precision    recall  f1-score   support

         1.0       0.98      0.23      0.37      3012
         2.0       0.56      1.00      0.72      3011

    accuracy                           0.61      6023
   macro avg       0.77      0.61      0.54      6023
weighted avg       0.77      0.61      0.54      6023

In [ ]:
print(fbeta_score(y_test, predict_svm, beta=0.5, average='micro'))

0.6118213514859705

In [ ]:
print(roc_auc_score(y_test, predict_svm, multi_class='ovr'))

0.6118851285878295

In [ ]:
print(cohen_kappa_score(y_test, predict_svm))

0.22374171319127756